.group {
    margin: 8px 0 24px;
}

.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.group input[type="text"],
.group input[type="date"],
.group button[role="combobox"],
ul[role="listbox"] {
    font-size: 14px;
}

.group .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.group .plus-button {
    position: relative;
    width: 120px;
    height: 120px;
    padding-bottom: 10px;
    background-color: #F6F6F6;
    color: #8E8F91;
    font-size: 32px;
    border: 1px solid #D5D5D5;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.group .name {
    position: absolute;
    top: 80px;
    font-size: 12px;
}

.group .none { 
    display: none;
}

.group .preview {
    width: 120px;
    height: 120px;
    border: 1px solid #D5D5D5;
    border-radius: 50%;
    object-fit: 'cover';
    cursor: pointer;
}

.group .section {
    margin-top: 36px;
    margin-bottom: 36px;
}

.group .sectionTitle {
    font-size: 18px;
    font-weight: bold;
}

.group .item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 12px 0;
}
.group .item>span {
    width: 120px;
    font-size: 14px;
    color: #8E8F91;
}

.group .action {
    width: 1000px;
    text-align: right;
}
.group .action button {
    font-family: inherit;
}